/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgb(0 0 0 / 71%) !important;
}

.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.formfield {
    margin-left: 10px;
}

.mat-card.test {
    margin: 2% 5%;
    padding-bottom: 30px;
}

.mat-tab-body-content {
    overflow: hidden !important;
}

.mat-card.test-content {
    margin: 2% 5%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(0 0 0 / 95%) !important;
}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
    color: rgb(0 0 0 / 95%) !important;
}


/* table */

table{
    border-collapse: collapse !important;
    border-spacing: 0 8px !important;
}

td.mat-cell{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    padding-right: 2px !important;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border-bottom-width: 0px;
}

a {
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    padding-left: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.1em;
    text-decoration: none;
}


/* a:hover {
    box-shadow: inset 0px -7px 15px #1976d255;
} */

.mat-raised-button,
button {
    background-color: #0a395a ;
    color: white;
    margin: 10px;
    justify-content:"space-between";
   
}

.mat-header-row th {
    font-weight: 800;
    font-size: 12px;
}

.mat-header-cell {
    color: rgb(14 14 14 / 77%);
}

table {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.mat-header-cell.mat-column-action {
    text-align: right;
}

button .mat-icon {
    margin-bottom: 5px;
}

.navbar-zIndex {
    z-index: 2 !important;
}

.mat-form-field{width:100%;}
.misc-bottom-padding{margin:8px 0 20px;}
.misc-bottom-padding mat-label{margin-right:15px;}
.mat-radio-label{margin:0 15px 0 0;}
.title-center{margin:0 auto;}
.button-wrapper{margin-top:20px;}

.image-show {
    height: 150px; 
    /* width: 12%; */
    margin:0% 10% 4% 0%;
    
}

.image-card{
    width: 15%;
    margin: 2%;
    display: inline-block !important;
}

.app-header{
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgb(0 0 0 / 71%) !important;

}

 .auth-wrapper {
    overflow-x: scroll;
  }
  
  .mat-card-wrraper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-card-wrraper-pro {
    width: 90%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 5px;
}